<body class = "homepageBody">
<!-- #make this a second fixed nav bar like the spirit air promo <section> -->
<header>kaylEd wine seller extrodinaires </header>
<!-- #end of second fixed navbar/ promo section -->
<h2>Whoa, hold it right there buddy!</h2>

<div class= "formLayout">
  <form method="POST" action="/sign_in">
  <label for= "month">Month</label>
  <select>
    <option>Enero</option>
    <option>Febrero</option>
    <option>Marzo</option>
    <option>Abril</option>
    <option>Mayo</option>
    <option>Junio</option>
    <option>Julio</option>
    <option>Agosto</option>
    <option>Septiembre</option>
    <option>Octubre</option>
    <option>Noviembre (all hail Scorpios! woo!)</option>
    <option>Dicembre</option>
  </select><br>
  <!-- <input type= "text" name= "month"> -->
  <label for ="day">Day</label>
    <select>
    <option>1st</option>
    <option>2nd</option>
    <option>3rd</option>
    <option>4th</option>
    <option>5th</option>
    <option>6th</option>
    <option>7th</option>
    <option>8th</option>
    <option>9th</option>
    <option>10th</option>
    <option>11th</option>
    <option>12th</option>
    <option>13th</option>
    <option>14th</option>
    <option>15th</option>
    <option>16th</option>
    <option>17th</option>
    <option>18th</option>
    <option>19th</option>
    <option>21st</option>
    <option>22nd</option>
    <option>23rd</option>
    <option>24th</option>
    <option>25th</option>
    <option>26th</option>
    <option>27th</option>
    <option>28th</option>
    <option>29th</option>
    <option>30th</option>
    <option>31st</option>
  </select><br>
  <!-- <input type= "text" name= "day"> -->
  <label for = "year">Year</label>
  <input type= "text" name= "year"><br>
</form>
</div>
</body>
